{% extends 'base.html' %}
{% block content %}
<a href="{% url 'product:create' %}" class="btn btn-primary mb-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> 新增商品</a>
<div>
<table class="table">
    <thead>
        <tr class="row">
            <th class="col-1">#</th>
            <th class="col-2">商品型號</th>
            <th class="col-3">商品名稱</th>
            <th class="col-2">商品價格</th>
            <th class="col-2">商品圖片</th>
            <th class="col-2">編輯</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr class="row">
            <td class="col-1">{{product.0}}</td>
            <td class="col-2">{{product.2}}</td>
            <td class="col-3">{{product.3}}</td>
            <td class="col-2">{{product.5}}</td>
            <td class="col-2"><img src="/media/{{product.4}}" class="img-thumbnail img-fluid"></td>
            <td class="col-2">
                    <a href="{% url 'product:update' product.0 %}" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                    <a href="{% url 'product:delete' product.0 %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}